@model reeconecta.Models.PontoDeColeta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PontoDeColeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoPonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoPonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepPonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepPonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionamentoPonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionamentoPonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioPonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioPonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneP01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneP01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WppTelP1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WppTelP1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneP02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneP02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WppTelP2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WppTelP2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
