@model reeconecta.Models.Usuario

@{
    ViewData["Title"] = "Detalhes de Usuário";
}

<h1>Detalhes</h1>

<div>
    <h4>@Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipodePerfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipodePerfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaAtiva)
        </dt>
        
            @if(Model.ContaAtiva == true)
            {
                <dd class="col-sm-10">
                    Ativo
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    Inativo
                </dd>
            }
    </dl>
</div>
<div>
    <a class="btn btn-light" asp-action="Index">
        <i class="bi bi-arrow-left-circle"></i> Voltar
    </a>
</div>
